*.ipynb_checkpoints
05-mlp/data
01-py-intro/app.py
01-py-intro/floatbinary
01-py-intro/floatbinary.c
01-py-intro/helloworld
01-py-intro/helloworld.c
01-py-intro/helloworld.py
01-py-intro/main.py
02-linear-models/zero_one_train_features.npz
04-review/filename.npy
04-review/new_file.csv
06-pytorch/data/
06-pytorch/filename.pt
07-cnn/data/
07-cnn/runs/
09-vanishing/data/
09-vanishing/runs/
_build/
